<h1>Productos <small>Derivados del COCO</small></h1>
<hr>
<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let product of products">
        <img class="card-img-top" [src]="'assets/img/' + product.imagen" [alt]="product.titulo" width="120" height="320">
        <div class="card-body">
            <h5 class="card-title">{{product.titulo}}</h5>
            <p class="card-text">Codigo del producto: {{product.id}}</p>
            <p class="card-text">{{product.descripcion}}</p>
            <p class="card-text">Precio: {{product.precio}}</p>
            <p class="card-label">Descuento {{product.descuento}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button (click)="seeProduct(product.id-1)" type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
            <button (click)="seeProductid(product.id-1)" type="button" class="btn btn-outline-success btn-block">Actualizar</button>

        </div>


    </div>