<h1 class="animated fadeIn fast">Sobre Aguita de COCO</h1>
<hr>

<p class="animated fadeIn">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, temporibus! Distinctio laboriosam minus praesentium cumque perspiciatis sed et laborum accusantium non maxime cum odio quas autem possimus, odit aspernatur quia.
</p>