<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">Productos derivados de coco</h1>
        <p class="lead">Esta es una pagina de venta de productos derivados del coco</p>
    </div>
</div>