<h1 class="animated fadeIn">{{ product.producto | uppercase }}</h1>
<hr>

<div class="row animated fadeIn fast">

    <div class="col-md-4">

        <img [src]="'assets/img/' + product.imagen" class="img-fluid" [alt]="product.titulo">
        <br><br>
        <a [routerLink]="['/products']" class="btn btn-outline-danger btn-block">Regresar</a>
        <a class="btn btn-outline-success btn-block">Comprar</a>

    </div>

    <div class="col-md-8">
        <h3>{{ product.titulo }}</h3>
        <hr>
        <p>
            {{ product.descripcion }}
        </p>



    </div>

</div>