<h1>Buscando: <small>{{termn}}</small></h1>
<hr>
<div class="row animated fadeIn fast" *ngIf="products.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el término: {{ termn }}
        </div>
    </div>
</div>



<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let product of products; let i = index">
        <img class="card-img-top" [src]="product.img" [alt]="product.producto">
        <div class="card-body">
            <h5 class="card-title">{{product.producto}}</h5>
            <p class="card-text">{{product.descripcion}}</p>
            <p class="card-text">Precio: {{product.precio}}</p>
            <p class="card-label">Descuento {{product.descuento}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button (click)="seeProduct(i)" type="button" class="btn btn-outline-primary btn-block">Ver mas...</button>
            <!--<a [routerLink]="['/product',i]" routerLinkActive="router-link-active" class="btn btn-outline-primary" Ver mas...></a>-->

        </div>
    </div>


</div>