<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets/img/coco.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/create']" routerLinkActive="active">New Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/products']" routerLinkActive="active">Products</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" (keyup.enter)="buscarProduct(searchTexto.value)" #searchTexto>
            <button (click)="buscarProduct(searchTexto.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
        </form>
    </div>
</nav>