<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-7">Creación de productos</h1>
    </div>
</div>


<div class=" animated fadeIn fast">
    <div>

        <div class="form-group">
            <label for="Titulo">Titulo</label>
            <input [(ngModel)]="product.titulo" type="text" class="form-control" id="Titulo" ngModel required>
        </div>
        <div class="form-group">
            <label for="Descripcion">Descripcion</label>
            <textarea [(ngModel)]="product.descripcion" class="form-control" id="Descripcion" rows="3" ngModel required></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="Precio">Precio</label>
                <input [(ngModel)]="product.precio" type="text" class="form-control" id="Precio" ngModel required ng-pattern="/^[0-9]*$/">
            </div>

            <div class="form-group col-md-3">
                <label for="Descuento">Descuento</label>
                <input [(ngModel)]="product.descuento" type="text" class="form-control" id="Descuento" ngModel required>
            </div>
            <div class="form-group col-md-6">
                <label for="Imagen">Imagen</label>
                <input [(ngModel)]="product.imagen" type="text" class="form-control" id="Imagen" placeholder="Escribir solo el nombre de la imagen" ngModel required>
            </div>
        </div>

        <button (click)="saveProduct();" class="btn btn-primary">Crear</button>
    </div>
</div>